<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>-{ DateEater }-</title>
    <style>body{font-family:'Trebuchet MS';} table{border-spacing:0;border-collapse: collapse;} .bad input{ background-color:#fee;} .good input{background-color:#efe;} td, th{text-align:left; border:1px solid #ddd; margin:0; padding:2px;} input[name^=parsed]{border: 1px solid rgba(0, 0, 0, 0.00);} input{border:1px solid grey; padding-left:3px}</style>
    <script>
        Date.prototype.toISOOffset = function (offMinutes) {
            d = new Date(this);
            min = -d.getTimezoneOffset();
            if (typeof offMinutes != 'undefined') min = offMinutes;
            d.setTime(d.getTime() + min*60000); // d is now distorted and will be abused for formatting
            off = (min > 0 ? '+' : '-') + ('0' + Math.floor(Math.abs(min) / 60)).slice(-2) + ':' + ('0' + Math.abs(min) % 60).slice(-2);
            return d.toISOString().replace('Z', off);
        }
        dq = '"';
        q = function(s) { return document.querySelector(s); };
        qa = function(s) { return document.querySelectorAll(s); };
        function submit(method, data, resulter) {
            json = JSON.stringify(data);
            var xhr = new XMLHttpRequest();
            xhr.open(method, '/api/values' + (/put/i.test(method) ? '/123' :''), true);
            xhr.setRequestHeader('Content-type','application/json; charset=utf-8');
            xhr.onload = function () {
	            if (xhr.readyState == 4 && xhr.status == "200") {
    	            var result = JSON.parse(xhr.responseText);
                    resulter(result);
	            }
            }
            xhr.send(json);
        }
        function post(data,resulter) {submit('POST',data,resulter);}
        function put(data, resulter) {submit('PUT', data, resulter); }
        function getNow() {
            try {
                var now = new Date(nowS);
                var nowS = q('#now').value;
                if (nowS) now = new Date(nowS);
                if (now.toString() == 'Invalid Date') return new Date();
                return now;
            } catch {
                return new Date();
            }
        }
    </script>
</head>
<body>
    <table><tr><th></th><th>zone</th><th>offset</th><th>culture</th></tr>
           <tr>
               <td>Server</td>
               <td> @TimeZoneInfo.Local.Id </td>
               <td>  @TimeZoneInfo.Local.GetUtcOffset(DateTime.Now) </td>
               <td> @System.Threading.Thread.CurrentThread.CurrentCulture.Name  <br /></td>
           </tr>
           <tr>
               <td>Client</td>
               <td> <span id="clientZone"></span></td>
               <td> <span id="clientOffset"></span></td>
               <td> <span id="clientCulture"></span></td>
           </tr>
    </table>

    <form>
        <h3>Now <input name="now" id="now" size="30" value=""/></h3>
        <table>
            <tr>
                <th>origin</th>
                <th>
                </th>
                <th colspan="3">
                    parse...
                </th>
                <th>
            </tr>
            <tr class="bad">
                <td>server</td>
                <td>
                    <input name="plainTime0" id="plainTime0" size="30" value="@DateTime.Now" />
                </td>
                <td>
                    <button onclick="q('#parsedTime0').value = new Date(q('#plainTime0').value); return false;">client</button>
                </td>
                <td>
                    <button onclick="put(q('#plainTime0').value, result => q('#parsedTime0').value=result.yourTime ); return false;">server DateTimeOffset</button>
                </td>
                <td>
                    <button onclick="post(q('#plainTime0').value, result => q('#parsedTime0').value=result.yourTime ); return false;">server DateTime</button>
                </td>
                <td>
                    <input name="parsedTime0" id="parsedTime0" size="30" />
                </td>
            </tr>
            <tr class="bad">
                <td>server DateTimeOffset</td>
                <td>
                    <input name="plainTime01" id="plainTime01" size="30" value="@DateTimeOffset.Now" />
                </td>
                <td>
                    <button onclick="q('#parsedTime01').value = new Date(q('#plainTime01').value); return false;">client</button>
                </td>
                <td>
                    <button onclick="put(q('#plainTime01').value, result => q('#parsedTime01').value=result.yourTime ); return false;">server DateTimeOffset</button>
                </td>
                <td>
                    <button onclick="post(q('#plainTime01').value, result => q('#parsedTime01').value=result.yourTime ); return false;">server DateTime</button>
                </td>
                <td>
                    <input name="parsedTime01" id="parsedTime01" size="30" />
                </td>
            </tr>
            <tr class="good">
                <td>server ISO</td>
                <td>
                    <input name="plainTime01" id="plainTime02" size="30" value="@DateTimeOffset.Now.ToString("o")" />
                </td>
                <td>
                    <button onclick="q('#parsedTime02').value = new Date(q('#plainTime02').value); return false;">client</button>
                </td>
                <td>
                    <button onclick="put(q('#plainTime02').value, result => q('#parsedTime02').value=result.yourTime ); return false;">server DateTimeOffset</button>
                </td>
                <td>
                    <button onclick="post(q('#plainTime02').value, result => q('#parsedTime02').value=result.yourTime ); return false;">server DateTime</button>
                </td>
                <td>
                    <input name="parsedTime02" id="parsedTime02" size="30" />
                </td>
            </tr>
            <tr class="bad">
                <td>
                    <button onclick="q('#plainTime1').value=getNow().toLocaleString(); return false;">client toLocale</button>
                </td>
                <td>
                    <input name="plainTime1" id="plainTime1" size="30" />
                </td>
                <td>
                    <button onclick="q('#parsedTime1').value = new Date(q('#plainTime1').value); return false;">client</button>
                </td>
                <td>
                    <button onclick="put(q('#plainTime1').value, result => q('#parsedTime1').value=result.yourTime ); return false;">server DateTimeOffset</button>
                </td>
                <td>
                    <button onclick="post(q('#plainTime1').value, result => q('#parsedTime1').value=result.yourTime ); return false;">server DateTime</button>
                </td>
                <td>
                    <input name="parsedTime1" id="parsedTime1" size="30" />
                </td>
            </tr>
            <tr class="good">
                <td>
                    <button onclick="q('#plainTime2').value=getNow().toISOString(); return false;">client ISO UTC</button>
                </td>
                <td>
                    <input name="plainTime2" id="plainTime2" size="30" />
                </td>
                <td>
                    <button onclick="q('#parsedTime2').value = new Date(q('#plainTime2').value); return false;">client</button>
                </td>
                <td>
                    <button onclick="put(q('#plainTime2').value, result => q('#parsedTime2').value=result.yourTime ); return false;">server DateTimeOffset</button>
                </td>
                <td>
                    <button onclick="post(q('#plainTime2').value, result => q('#parsedTime2').value=result.yourTime ); return false;">server DateTime</button>
                </td>
                <td>
                    <input name="parsedTime2" id="parsedTime2" size="30" />
                </td>
            </tr>
            <tr class="good">
                <td>
                    <button onclick="q('#plainTime3').value=getNow().toISOOffset(); return false;">client ISO</button>
                </td>
                <td>
                    <input name="plainTime3" id="plainTime3" size="30" />
                </td>
                <td>
                    <button onclick="q('#parsedTime3').value = new Date(q('#plainTime3').value); return false;">client</button>
                </td>
                <td>
                    <button onclick="put(q('#plainTime3').value, result => q('#parsedTime3').value=result.yourTime ); return false;">server DateTimeOffset</button>
                </td>
                <td>
                    <button onclick="post(q('#plainTime3').value, result => q('#parsedTime3').value=result.yourTime ); return false;">server DateTime</button>
                </td>
                <td>
                    <input name="parsedTime3" id="parsedTime3" size="30" />
                </td>
            </tr>
        </table>
    </form>
    <script>
        q('#clientZone').innerHTML = new Date().toString().match(/\(([A-Za-z\s].*)\)/)[1];
        q('#clientOffset').innerHTML = new Date().toString().match(/([-\+][0-9]+)\s/)[1]
        q('#clientCulture').innerHTML = navigator.language + ' / ' + navigator.language;
    </script>
</body>
</html>